
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Gestionar Menu
        <%= link_to 'New Navbar', new_navbar_path, class:"button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <p id="notice"><%= notice %></p>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th>Label</th>
            <th>Url</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @navbars.each do |navbar| %>
            <tr>
              <td><%= navbar.label %></td>
              <td><%= navbar.url %></td>
              <td><%= link_to 'Show', navbar %></td>
              <td><%= link_to 'Edit', edit_navbar_path(navbar) %></td>
              <td><%= link_to 'Destroy', navbar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>